{% extends "main.html" %}
{% block content %}

<section class="pa3 pa5-ns">
    
    <article class="hide-child relative ba b--black-20 mw7 center">
    <h2 class="pa4 baskerville fw1">{{category.name}}</h2>
    <form 
        class="pa4 black-80"
        action= "{{url_for('addItem', category_name = category.name)}}"
        enctype="multipart/form-data"
        method="POST">
        <input name=_csrf_token type=hidden value="{{ csrf_token() }}">
        <div class="measure">
                <label for="image" class="f6 b db mb2">Image</label>
                <input id="image" type="file" name="image" class="f6 link dim br1 pa2 mb2 db white bg-black">
        </div>
        <br />
        <div class="measure">
            <label for="title" class="f6 b db mb2">Title <span class="normal red">*</span></label>
            <input id="title" name="title" class="input-reset ba b--black-20 pa2 mb2 db w-100" type="text" size='30' aria-describedby="title-desc">
            <small id="title-desc" class="f6 black-60 db mb2">Title of the new {{category.name}}.</small>
        </div>
        <br />
        <div class="measure">
            <label for="description" class="f6 b db mb2">Description <span class="normal red">*</span></label>
            <textarea id="description" name="description" maxlength='200' class="db border-box hover-black w-100 measure ba b--black-20 pa2 br2 mb2" aria-describedby="description-desc"></textarea>
            <small id="description-desc" class="f6 black-60">Contains description of new {{category.name}}.</small>
        </div>
        <br />
        <input type='submit' class="f6 link dim br1 ph3 pv2 mb2 dib white bg-black pointer" value='Add'>
        <a  class="f6 link dim br1 ba ph3 pv2 mb2 dib black"
            href= '{{url_for('catalog', category_name= category.name)}}'>Cancel</a>
    </form>
    </article>
</section>
{% endblock %}